canvas { background: rgb(64, 167, 81); display: block; margin: 0 auto;}
#mainDiv{
    width: 100%;
    height: 657px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
} 
.aaa{
    border: 1px solid black; 
    }